.header {
  background: linear-gradient(
    34.78deg,
    #b48ff5 0%,
    #8381ff 50.52%,
    #579aff 100%
  );
  height: 450px;
  text-align: center;
  padding-top: 40px;
}

.headerTitle {
  font-weight: 800;
  color: var(--white);
  font-size: 26px;
  line-height: 31px;
}
