:root {
  --white: #fff;
  --dark: #343434;
  --gray: #f4f4f4;
  --background: #ebecf0;
  --background-2: #E5E5E5;
  --background-3: #FAFAFA;
  --background-4: #F5F7FF;
  --gray-dark: #bdbdbd;
  --gray-dark-2: #808080;
  --accent: #7e80ff;
  --accent-orange: #FFB800;
  --accent-blue: #0075ff;
  --accent-red: #e9545d;
}

.tabbar {
  transition: 0.2s;
}

.hidden {
  transform: translateY(100%);
}
