:root {
  --white: #fff;
  --dark: #343434;
  --gray: #F4F4F4;
  --background: #EBECF0;
  --gray-dark: #BDBDBD;
  --gray-dark-2: #808080;
  --accent: #7E80FF;
  --accent-blue: #0075FF;
  --accent-red: #E9545D;
}

.tabbar {
  transition: .2s;
}

.hidden {
  transform: translateY(100%);
}
