.vkuiPanelHeader--sizeX-compact .vkuiPanelHeader__separator {
  padding-top: 0;
}

.vkuiPanelHeader__content-in {
  font-weight: 600;
}

.vkuiTabbarItem--selected {
  color: var(--accent);
}

button {
  outline: none;
  background: transparent;
  border: none;
}


.nice-dates-day.-selected {
  border-radius: 10px;
  background: var(--accent);
  &:before {
    display: none;
  }
}
