.vkuiPanelHeader--sizeX-compact .vkuiPanelHeader__separator {
  padding-top: 0;
}

.vkuiPanelHeader__content-in {
  font-weight: 600;
}

button {
  outline: none;
  background: transparent;
  border: none;
}
